.menu-example {
    list-style: none;
    padding: 0;
}

.menu-example li {
    display: inline-block;
    padding: 5px 10px;
    position: relative;
}

.menu-example li:hover ul {
    display: block;
}

.menu-example ul {
    display: none;
    padding: 0;
    position: absolute;
    left: 0;
    width: 200px;
}
